@import url("https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap");

body {
  font-family: "Original Surfer", sans-serif;
  padding-bottom: 20px;
}
.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(180, 134, 243);
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.navbar {
  background-color: rgb(180, 134, 243);
}

.movingtext span {
  color: rgb(5, 5, 5);
}

.loginButton {
  background-color: rgb(67, 18, 126);
}

.historyButton {
  background-color: rgb(211, 68, 68);
  padding: 2px;
  width: 75%;
  cursor: pointer;
  height: 45%;
  margin: 10%;
}

.historyButton:hover {
  transform: scale(1.5);
}

.currentlyButton {
  background-color: rgb(174, 199, 74);
  padding: 2px;
  width: 75%;
  cursor: pointer;
  height: 45%;
  margin: 10%;
}

.currentlyButton:hover {
  transform: scale(1.5);
}

.wantButton {
  background-color: rgb(109, 40, 158);
  padding: 2px;
  width: 75%;
  cursor: pointer;
  height: 45%;
  margin: 10%;
}

.wantButton:hover {
  transform: scale(1.5);
}

.bookfindsent {
  text-align: center;
}

.movingtext {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
}

.movingtext span {
  display: inline-block;
  padding-left: 100%;
  animation: movingtext 20s linear infinite;
  color: white;
  background-color: rgb(67, 18, 126);
}

@keyframes movingtext {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.banner {
  font-size: 22px;
}
